.nav-layout{
  background-color: #fff;
  height: 50px;
  .logo-navbar{
    width: 50px;
    height: 50px;
  }
  .link-button{
    text-decoration: none;
    cursor: pointer;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 30px;
  }
  .brand-name{
    margin-left: -10px;
  }

  .root-icon{
    a:hover{
      text-decoration: none;
    }
  }

  input#search{
    width: 200px;
    padding-left: 80px;
    box-sizing: border-box;
    border: solid 1px #dbdbdb;
    background: url('search-icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 62px 7px;
  }
  input#search:focus {
    padding-left: 16px;
    background-position: 0;
  }


  a{
    color: black;
  }

  .form-group{
    margin: 0;
  }

  .form-control{
    height: 30px;
    background-position: 62px 4px;
  }

  @media(max-width: 400px){
    input#search{
      width: 125px;
      background-position: 20px 4px;
      padding-left: 43px;
    }
  }
  .navbar_icon{
  flex-direction: row !important;
}
.user_notification_count{
  font-size: 40% !important;
}
.no_notification_li{
  text-align: center;
}

.notification{
  left: unset;
  right: 0;
  width: 400px;
  overflow: scroll;
   position: absolute;
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .norification_img{
    width: 40px;
    height: 40px;
  }
}

  @media (max-width: 575.98px) {
    .brand{
      display: none;
    }
    .navbar_input{
      display: none;
    }
    .navbar_icon{
      flex-direction: row !important;
      li {
        padding-left: 20px;
      }
    }

    .user_notification_count{
      display: none;
    }

  }
  @media (min-width: 576px) and (max-width: 767.98px){
    .brand{
      display: none;
    }

    .navbar_icon{
      flex-direction: row !important;
      li {
        padding-left: 10px;
      }
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px){
    .navbar_icon{
      flex-direction: row !important;
      li {
        padding-left: 10px;
      }
    }
  }
}

/*.navbar_users{
  .logo_img{
    width: 50px;
    height: 50px;
  }

  .brand{
    font-family: 'Helvetica Neue';
  }
  .nav-link{
   color: black !important;
 }

 .navbar_input {
  width: 200px;
  padding-left: 80px;
  box-sizing: border-box;
  border: solid 1px #dbdbdb;
  background: url('search-icon.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 62px 0;
}
.navbar_input:focus {
  padding-left: 16px;
  background-position: 0;
}
.navbar_icon{
  flex-direction: row !important;
}

.notification{
  left: unset;
  right: 0;
  width: 400px;
  overflow: scroll;
   position: absolute;
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .norification_img{
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 575.98px) {
  .brand{
    display: none;
  }
  .navbar_input{
    display: none;
  }
  .navbar_icon{
    flex-direction: row !important;
    li {
      padding-left: 20px;
    }
  }

}
@media (min-width: 576px) and (max-width: 767.98px){
  .brand{
    display: none;
  }

  .navbar_icon{
    flex-direction: row !important;
    li {
      padding-left: 10px;
    }
  }

}

@media (min-width: 768px) and (max-width: 991.98px){
  .navbar_icon{
    flex-direction: row !important;
    li {
      padding-left: 10px;
    }
  }
}

}

*/

