<div class="show_profile">

<%if @user == current_user%>
  <%= render 'profile_currentuser'%>
  <%else%>
  <%= render 'profile_otheruser'%>
  <%end%>
<section class="user_post">
  <hr>
  <div class="title">
    <h7>SHOW ALL POSTS</h7>
  </div>
  <div class="posts row">
    <% @user.posts.order(created_at: :desc).each do |post|%>
      <%= render 'users/posts/post' ,post: post %>
    <% end %>
  </div>
</section>

</div>
<script type="text/javascript">
  $( "#blah" ).click(function() {
    $( "#edit_avatar" ).click();
  });
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#blah')
        .attr('src', e.target.result)
        .width(150)
        .height(150);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>