$primary-padding: 100px 200px 10px 200px;
$primary-padding_suggested: 100px 250px 10px 250px;
$avatar_img_width : 150px;
$avatar_img_height : 150px;
$avatar_img_modal_width: 40px;
$avatar_img_modal_height: 40px;