<div class="form-devise">
  <div class="article container-fluid">
    <div class="row">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="form-wrapper">
          <div class="big-screen-form">
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="text-uppercase font-weight-bold">Đặt lại mật khẩu</h3>
            </div>
            <p>Chúng tôi có thể giúp bạn đặt lại mật khẩu của mình bằng địa chỉ email được liên kết với tài khoản của bạn.</p>
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Nhập email liên kết với tài khoản' %>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="form-actions">
                    <%= f.button :submit, "Đặt lại mật khẩu" , class: 'btn btn-primary btn-devise'%>
                  </div>
                </div>
              <% end %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
