<section>
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-10 offset-1 ">
			<div class="card">
				<div class="card-body form-create-post">
					<div class="row">
						<div class="col-sm-2 col-md-2 col-lg-1 col-2">
							<div class="thumbnail profile-post">
								<%= image_tag current_user.avatar.url, :alt => "rss feed", :class => "img-thumbnail img-fluid rounded-circle rounded "%>
							</div>
			      </div>
						<div class="col-sm-10 col-md-10 col-lg-11 col-10">
							<%= render 'form_create_post'%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
 //////////////////////////PREVIEW VIDEO//////////////////////////////////
	var _VIDEO = document.querySelector("#main-video");

	document.querySelector("#upload-button").addEventListener('click', function() {
		document.querySelector("#file-to-upload").click();
	});

	// When user chooses a MP4 file
	document.querySelector("#file-to-upload").addEventListener('change', function() {
		// Validate whether MP4
    if(['video/mp4'].indexOf(document.querySelector("#file-to-upload").files[0].type) == -1) {
        alert('Error : Only MP4 format allowed');
        return;
    }

		// Object Url as the video source
		document.querySelector("#main-video source").setAttribute('src', URL.createObjectURL(document.querySelector("#file-to-upload").files[0]));
		
		// Load the video and show it
		$('#video-demo-container').removeClass('d-none');
		$('.image_uploader').val(null);
		$('.nested-fields').addClass('d-none');
		_VIDEO.load();
		_VIDEO.style.display = 'inline';
		
		// Load metadata of the video to get video duration and dimensions
		_VIDEO.addEventListener('loadedmetadata', function() { console.log(_VIDEO.duration);
	    var video_duration = _VIDEO.duration,
			  	duration_options_html = '';
		});
	});
	document.querySelector("#btn-upload-img").addEventListener('click', function() {
		document.getElementById('file-to-upload').value = '';
		$("#video-demo-container").addClass('d-none');
		$("#btn-close-video").addClass('d-none');
	});

</script>
