<div class="container">
		<%= render "create_post" %>
		<br>
		<%= render @posts %>
		<%= will_paginate @posts %>
</div>

<script type="text/javascript">
 //////////////////////////PREVIEW VIDEO//////////////////////////////////
	var _VIDEO = document.querySelector("#main-video");

	document.querySelector("#upload-button").addEventListener('click', function() {
		document.querySelector("#file-to-upload").click();
	});

	// When user chooses a MP4 file
	document.querySelector("#file-to-upload").addEventListener('change', function() {
		// Validate whether MP4
    if(['video/mp4'].indexOf(document.querySelector("#file-to-upload").files[0].type) == -1) {
        alert('Error : Only MP4 format allowed');
        return;
    }

		// Object Url as the video source
		document.querySelector("#main-video source").setAttribute('src', URL.createObjectURL(document.querySelector("#file-to-upload").files[0]));
		$("#add-cocoon").find(".nested-fields").each(function(){
			$(this).find(".remove_fields").click();
		});
		
		// Load the video and show it
		$('#video-demo-container').removeClass('d-none');
			_VIDEO.load();
			_VIDEO.style.display = 'inline';
	});


	document.querySelector("#btn-upload-img").addEventListener('click', function() {
		document.getElementById('file-to-upload').value = '';
		$("#video-demo-container").addClass('d-none');
	});
	
	$(document).ready(function() {
    $("#link-add-pic").
      data("association-insertion-method", 'append').
      data("association-insertion-node", '#add-cocoon');
  });

  

</script>
