.form-devise{
  .article{
    background-color: #fafafa;
    min-height: 90vh;
    margin-bottom: 0;
    padding: 30px auto 0 auto;
  }

  .btn-devise{
    min-width: 88px;
  }

  .logo-form{
    margin-left: -15px;
    width: 78px;
    height: 78px;
  }

  input.form-control{
    background-color: #fafafa;
    font-size: 16px;
    height: 36px;
  }

  .small-link a{
    font-size: 14px;
  }

  .title-form{
    margin-left: -15px;
  }

  .btn-facebook{
    background-color: #3b5998;
    color: #fff;
  }

  .phone-image{
    width:450px;
    float: right;
  }
  .slide-image{
      width: 246px;
      top: 97px;
      right: 71px;
      position: absolute;
      z-index: 1000;
  }

  .phone-slide{
    position: relative;
  }

  .form-column{
    padding: 0;
    max-width: 450px;
  }
  .form-wrapper{
    margin-top: 50px;
  }

  @media(min-width: 450px){
    .big-screen-form{
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 1px;
      margin: 0 0 10px;
      padding: 20px 50px;
    }
    .big-screen-signup-link{
      background-color: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 1px;
      margin: 0 0 10px;
      padding: 20px 50px;
    }
  }
}
