@import './base/variable';
$avatar_img_width : 150px;
$avatar_img_height : 150px;

$avatar_img_modal_width: 40px;
$avatar_img_modal_height: 40px;
.show_profile{
 padding: $primary-padding;
 .avatar_img{
  margin:0 auto; 
  width: 152px; 
  height: 152px;
  #blah{
    width: $avatar_img_width;
    height:$avatar_img_height;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
  }
  #edit_avatar{
    display: none;
  }
}

.header{
  .edit_profile_link{
    margin-left: 20px;
    margin-bottom: 30px;
    .button{
      display: block;
      width: 120px;
      height: 30px;
      background: #fafafa;
      padding: 3px 10px 5px 10px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      color: black;
      font-weight: bold;
      text-decoration: none;
      font-size: 0.9em;
    }
  }

  .info{
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        padding: 0px 20px 10px 0;
        float: left;
      }
    }

  }
}

.user_post{
  .title{
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
  }
  .post_img{
    width: 100%;
  }

  .posts{
   .modal_btn{
    width:100%;
    padding:0px !important;
    border: 0px;
  }
}

.modal{
  .footer{
    position: fixed;
    bottom: 0;
    /*    width: 100%;*/
    padding:0px;
    height: auto !important;

    ul {
      padding: 0px !important;
      list-style: none;
      li.li_left{
        float:left;
        padding-right: 20px;
      }
      li.li_right{
        float:right;
      }
    }
    
  }
  .post_modal{
    max-height: 600px;
    max-width: 900px !important;
  }

  #avatar_img_modal{
    height: $avatar_img_modal_height;
    width: $avatar_img_modal_width;
    border-radius: 50%;
  }

  .comment_field{
    border:0px;
    height: '18px';
    font-size: 15px;
  }
  .footer_liked_follower{
    display: inherit !important;
    border-top:1px solid #e9ecef;
  }
  .w_comment{
    justify-content: left !important;
  }
}
}

}

@media (max-width: 575.98px) { 
  .show_profile{
    padding: 100px 50px 10px 50px !important;
    .list{
      display: none;
    }

    .form_input{
      .label{
        float:left;
      }
    }

    .avatar_img{
      #blah{  
        float: left !important;
      }
    }

    .posts{
      flex-wrap: nowrap !important;
    }

    .edit_profile_link{
      width: 100% !important;
      .button{
        width:100% !important;
      }
    }

    .name_field{
      text-align: center;
      width:100%;
    }

    .info ul{
      margin: 0 auto;
    }

    .info_description{
      margin:auto;
    }
    .modal{
      .footer{
        position: unset !important;
      }
    }

    .w_comment{
      display: none;
    }
  }

}
@media (min-width: 576px) and (max-width: 767.98px){ 
  .show_profile{
    padding: 100px 50px 10px 50px !important;
    .list{
      display: none;
    }

    .form_input{
      .label{
        float:left;
      }
    }

    .avatar_img{
      #blah{  
        float: left !important;
      }
    }

    .posts{
      flex-wrap: nowrap !important;
    }

    .edit_profile_link{
      width: 100% !important;
      .button{
        width:100% !important;
      }
    }

    .name_field{
      text-align: center;
      width:100%;
    }
    .info ul{
      margin: 0 auto;
    }
    .info_description{
     margin:auto;
   }

   .modal{
    .footer{
      position: unset !important;
    }
  }
  .w_comment{
    display: none;
  }
}
}

@media (min-width: 768px) and (max-width: 991.98px){ 
 .show_profile{
   padding: 100px 50px 10px 50px !important;
 }
}