<div class="nav-custom container">
  <div class="d-flex align-items-center">
    <%= image_tag 'logo.png', class: 'logo-navbar'%><span class="font-weight-bold brand-name">VINOGRAM</span>
    <div class="ml-auto">
      <% if current_user.present? %>
        <%= current_user.email %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

      <% else %>
        <%= link_to "Sign up", new_user_registration_path , class: 'signup-link font-weight-bold text-uppercase'%><br />
      <% end %>
    </div>
  </div>
</div>
