<div class="nav-layout container">
  <div class="d-flex align-items-center">
    <%= image_tag 'logo.png', class: 'logo-navbar'%><span class="font-weight-bold brand-name">VINOGRAM</span>
    <div class="ml-auto">
        <%= link_to "Log in", new_session_path(resource_name), class: 'link-button font-weight-bold text-uppercase' %><br />
    </div>
  </div>
</div>
