<div class="sidebar" id="sidebar-dash">
  <nav class="navbar sidebar-nav navbar-expand-lg flex-column" >
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="index.html" class="nav-link active"><i class="fa fa-user fa-lg" aria-hidden="true"></i> <span class="hid-text">Users</span></a>
      </li>
      <li class="nav-item">
        <a href="index.html" class="nav-link active"><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> <span class="hid-text">Posts</span></a>
      </li>
      <li class="nav-item">
        <a href="index.html" class="nav-link active"><i class="fa fa-comments fa-lg" aria-hidden="true"></i> <span class="hid-text">Comments</span></a>
      </li>
    </ul>
  </nav>
</div>
