<div class="row">
  <div class="card col-12 d-flex align-items-center statistic">
    <div class="card-body d-flex align-items-center">
      <i class="fa fa-user fa-3x" aria-hidden="true"></i><h1 class="ml-3"><%= @user_nums %></h1>
    </div>
  </div>
  <div class="card col-12 d-flex align-items-center statistic">
    <div class="card-body d-flex align-items-center">
      <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i><h1 class="ml-3"><%= @post_nums %></h1>
    </div>
  </div>
  <div class="card col-12 d-flex align-items-center statistic">
    <div class="card-body d-flex align-items-center">
      <i class="fa fa-comments fa-3x" aria-hidden="true"></i><h1 class="ml-3"><%= @comment_nums %></h1>
    </div>
  </div>
</div>

